<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/common.css">
    <link rel="stylesheet" href="/static/styles/nav.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    <link rel="stylesheet" href="/static/styles/skewed-header.css">
    <link rel="stylesheet" href="/static/styles/page-container.css">
    <link rel="stylesheet" href="/static/styles/helpers.css">
    <link rel="stylesheet" href="/static/styles/contact.css">
    <link rel="stylesheet" href="/static/styles/form.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/media-queries.css">


</head>
<body>



<!-- Nav-bar & background picture -->



    <div class="skewed-header">
        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1>Contact</h1>
                </div>

                <div class="links-wrapper">
                    <div class="nav-link">
                        <a href="/">home</a>
                    </div>
    
                    <div class="nav-link"> 
                        <a href="/about">about</a>
                    </div>
        
                    <div class="nav-link">
                        <a href="/menu">menu</a>
                    </div>
                        
                    <div class="nav-link">  
                        <a href="/contact">contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Nav-bar & background picture -->






<!-- SECOND COLUMN -->


<div class="page-container">
    <div class="contact-grid-wrapper">
        <div class="company-metadata-sidebar-wrapper">
            <div class="logo">
                <img src="/static/images/logos/decamp-fantastic-fries-logo-dark.png" alt="logo">
            </div>


            <div class="company-details-wrapper">
                <i class="fas fa-map-marker-alt"></i>

                <div>
                    123 any st<br>Scottsdale, AZ, 85251
                </div>
            </div>

            <div class="company-details-wrapper">
                <i class="fas fa-phone-volume"></i>
            
                <div>
                    555 555 5555
                </div>
            </div>
            
            <div class="company-details-wrapper">
                <i class="far fa-clock"></i>
                
                <div>
                    10 AM - MIDNIGHT
                </div>
            </div>
        </div>
        

        <div class="form">
            <div class="form-group">
                <input type="text" id="fullname" placeholder="your name">
                <label for="full name">Your name</label>
            </div>

            <div class="form-group">
                <input type="Email" id="email" placeholder="your email">
                <label for="Email">Your email</label> 
            </div>
            
            <div class="form-group">
                <textarea name="Message" id="Message" placeholder="message"></textarea>
                <label for="message">message</label>
            </div>
            <div class="spacer10"></div>

            <div class="center-btn-wrapper">
                <button type="submit" class="btn">Send</button>
            </div>
        </div>
    </div>    
</div>

<div class="spacer60"></div>



<!-- SECOND COLUMN -->








<!-- LAST COLUMN -->




<div class="footer">
        <div class="logo-footer">
        <img src="/static/images/logos/decamp-fantastic-fries-logo-white.png" alt="">
        </div>
        <div class="footer-phone-hours">
            <span class="phone">
                555 555 5555
            </span>

            <span class="hours">
                10 am - midnight
            </span>
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="/">home</a>
            </div>

            <div class="nav-link"> 
                <a href="/about">about</a>
            </div>

            <div class="nav-link">
                <a href="/menu">menu</a>
            </div>
                        
            <div class="nav-link">  
                <a href="/contact">contact</a>
            </div>
        </div>

        <div class="social-media-icons-wrapper">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>

        <div class="copyrigt-wrapper">
            &copy; 2018 Devcamp &#124; All rights reserved
        </div>
    </div>  



<!-- LAST COLUMN -->



</body>
</html>